<!DOCTYPE html>
<html lang="en">
    <!-- Комментарии -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Test server</title>
        <link rel="stylesheet" href="style.min.css">
    </head>
    <body>
        <div class="header"><h1>Hello World!</h1></div>
        @@include('sections/header.html')
        @@include('sections/content.html')
        @@include('sections/footer.html')
        <script src="script.min.js"></script>
    </body>
</html>
